# Python
__pycache__/
*.pyc
.Python
.venv/
venv/
env/
*.egg-info/
.mypy_cache/
.pytest_cache/

# PyCharm
.idea/

# Docker
.dockerignore

# Logs
*.log
logs/

# Database (if using local SQLite in some Flask apps, not for this PostgreSQL setup)
*.db
*.sqlite